// Typography

    // font sizes 

// font families
    // jons hand 
    // heading font 
    // body font - courier 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: altivo, sans-serif;
}


// Margins 


// Colors
$pink: pink; 
$black: #000;